{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div>
				<ul class="container-fluid">
					{% for beer in beers %}
						<a class="link_beer" href="{{ path('beer', { 'id' : beer.id }) }}">
							<li class="card card__beers col">
								<div class="card-body">
									<h2 class="card-title">{{ beer.name }}</h2>
									<p class="card-text">
										{{ beer.description }}
									</p>
									<div class="button"></div>
								</div>
							</li>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>{% endblock %}
