{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div>
                <ul class="container-fluid">
                    {% for beer in beers %}
                        <li class="card card__beers col">
                            <div class="card-body">
                                <p class="card-title">{{ beer.name }}</p>
                                <p class="card-text">
                                    {{ beer.description }}
                                </p>
                                <div class="button">
                                    <a href="{{ path('beer', { 'id' : beer.id }) }}">Voir plus</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
