* {
    box-sizing: border-box;
}

.container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.link_beer {
    color: #000;
}


.card__beers{
    margin :  1.1rem;
}


@import "~bootstrap/scss/bootstrap";
